@use '../util/vars.scss' as vars;
@use '../util/mixins.scss' as mixin;

.header-admin{
   @include mixin.margin-top-pages;
   border-bottom: .5rem solid vars.$beige;
   .admin-title{
      padding:1rem 0;
      text-align: center;
      color: vars.$beige;
      span{
         font-weight: vars.$thin;
      }
   }
}