@use '../util/mixins.scss' as mixin;
@use '../util/vars.scss' as vars;

// CONTAINER
.login-container{
   @include mixin.screen-container;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url('/images/login.jpg')  center/cover no-repeat;

   &::after{
      content: '';
      position: absolute;
      height: inherit;
      top: 0;
      left: 0;
      display: block;
      @include mixin.screen-container;
      background-color: vars.$dark;
      filter: opacity(.7)
   }
}

// FORMS
.form-login{   
   position: relative;
   z-index: 10;
   padding: 2rem;
   border-radius: .5rem;
   border:.5rem solid vars.$beige;
   @include mixin.screen-container(90%, 50vh);
   @include mixin.tablet{
      @include mixin.screen-container(50%, 50vh, 50rem);
   }

   .form-actions{
      .btn-signin{
         background-color: vars.$oxford-blue;
         border:.2rem solid vars.$beige;
         color: vars.$beige;
         transition: all .3s ease-in-out;
         &:hover{
            transform: scale(1.1);
            box-shadow: .1rem .1rem .3rem vars.$beige;
         }
      }
      .btn-register{
         border:.2rem solid vars.$beige;
         color: vars.$antique-brass;
         transition: all .3s ease-in-out;

         &:hover{
            background-color: vars.$beige;
            color: vars.$oxford-blue;
         }
      }
   }
}


.link-home{
   color:vars.$beige;
   border-bottom: .2rem solid vars.$beige;

   &:hover{
      color:vars.$alert;
   }
}
