@use '../util/vars.scss' as vars;

.btn-new-service{
   background-color: vars.$beige!important;
   &:active{
      transform: scale(1.1);
   }
}

.new-service{
   padding: 1rem;
   border-radius: .3rem;
   background-color: vars.$blue-light;
}