@use '../util/vars.scss' as vars;
@use '../util/mixins.scss' as mixin;

.form-new-service{
   @include mixin.screen-container(50%, fit-content, 40rem);
   margin: 5rem auto;
   padding: 2rem;
   border-radius: .3rem;
   border: .1rem solid vars.$beige;
}

.btn-new-service{
   background-color: vars.$beige!important;

   &:active{
      transform: scale(1.1);
   }
}