@use '../util/mixins.scss'as mixin;
@use '../util/vars.scss'as vars;


.btn-reservations {
   border: .2rem solid vars.$beige !important;
   color: vars.$beige;
   transition:all .3s ease-in-out;

   &:hover {
      border: .2rem solid vars.$blue-light !important;
      color: vars.$blue-light;
   }
}
