@use '../util/vars.scss'as vars;
@use '../util/mixins.scss'as mixin;


.del-service{
   width: fit-content;
   margin: auto;
   padding: 1rem;
   border-radius: .3rem;
   color: vars.$beige;
   background-color: vars.$danger;
}

.table{

   thead th {
      background-color: vars.$dark;
      color: vars.$alert;
   }

   tr {
      &:nth-child(odd){
         color: vars.$beige;
      }
      &:nth-child(even) {
         background-color: vars.$beige;
         td{
            border: .1rem solid vars.$oxford-blue;
         }
      }
   }
}
.edit-action{
   background-color: vars.$alert;
}
.del-action{
   background-color: vars.$danger;
}