// FONTS
$font:'Poppins', sans-serif;
$thin:300;
$regular:400;
$bold:700;

// COLORS
$space-cadet:#151E3F;
$oxford-blue:#030027;
$beige:#F2F3D9;
$antique-brass:#DC9E82;
$fuzzy-wuzzy:#C16E70;
$ligth:#f5f0f0;
$dark:#050505;
$danger:#700909;
$blue-light:#6163ec;
$alert:#ddec0c;

// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

